In [94]:
import pandas as pd
import numpy as np
import csv
from datetime import datetime, timedelta
from sklearn.datasets import make_regression
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score

In [95]:
home = raw_input("Which Home?")
file_path = 'Year1/Home' + home + '_yr1.csv'

Which Home?2

In [96]:
print(file_path)
df = pandas.read_csv(file_path)
def datetime_range(start, end, delta):
    end += 4*delta
    current = start
    while current < end:
        yield current
        current += delta

dts = [dt for dt in 
       datetime_range(datetime(2018, 1, 1, 0), datetime(2018, 12 , 31 , 23), 
       timedelta(minutes=15))]
df['date/time'] = dts

Year1/Home2_yr1.csv

In [106]:
for i, row in df.iterrows():
#handling seasons
    df.at[i, 'Date'] = row[1].day
    df.at[i, 'Month'] = row[1].month
    df.at[i, 'Hour'] = row[1].hour
    df.at[i, 'Minute'] = row[1].minute
    if row[1].month in range(1,4) :
        df.at[i, 'Summer'] = 1
    elif row[1].month in range(4,7):
        df.at[i, 'Spring'] = 1
    elif row[1].month in range(7,10):
        df.at[i, 'Fall'] = 1
    elif row[1].month in range(10,13):
        df.at[i, 'Winter'] = 1
        
#handling peak hours   
    if row[1].hour in [0,1,2,3,4,5,6,7,20,21,22,23]:
        df.at[i, 'Peak Hour'] = 1
    else:
        df.at[i, 'Peak Hour'] = 0
        
#handling holidays & weekends
    if row[1].weekday() in [5,6] :
        df.at[i, 'Holiday'] = 1
    elif row[1].month == 10 and row[1].day == 2:
        df.at[i, 'Holiday'] = 1
    elif row[1].month == 1 and row[1].day == 26:
        df.at[i, 'Holiday'] = 1
    else:
        df.at[i, 'Holiday'] = 0

df['Spring'].fillna(0,inplace=True)
df['Fall'].fillna(0,inplace=True)
df['Summer'].fillna(0,inplace=True)
df['Winter'].fillna(0,inplace=True)

In [107]:
month = raw_input("Enter the Month:")
date = raw_input("Enter the Date:")
hour = raw_input("Enter the Hour:")
minute = raw_input("Enter the Minute:")
dt = datetime(2018, int(month), int(date), int(hour), int(minute) , 0)
print(dt)

Enter the Month:1
Enter the Date:9
Enter the Hour:0
Enter the Minute:0
2018-01-09 00:00:00

In [108]:
for i, row in df.iterrows():
    if row[1] == dt:
        break
x_train = df[['Date','Month','Hour','Minute','Summer','Winter', 'Fall','Spring' , 'Holiday', 'Peak Hour']][:i]
y_train = df[['Consumption']][:i]
x_test = df[['Date','Month','Hour','Minute','Summer','Winter', 'Fall','Spring' , 'Holiday', 'Peak Hour']] [i:96+i]
y_test = df[['Consumption']][i:96+i]

In [109]:
regr = linear_model.LinearRegression()

In [110]:
regr.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [111]:
y_pred = regr.predict(x_test)

In [116]:
y_pred = regr.predict(x_test)
print("Mean squared error LR: %.9f"
      % mean_squared_error(y_test,y_pred))
y_pred = pd.DataFrame({'Predicted Consumption':y_pred[:,0]}, index=y_test.index) 
dur = [dt for dt in 
       datetime_range(datetime(2018, int(month), int(date), int(hour), int(minute)), datetime(2018, 12 , 31 , 23), 
       timedelta(minutes=15))]
dur = dur[0:96]
y_pred['Actual Consumption'] = y_test
y_pred['Date/Time'] = dur
display(y_pred)

Mean squared error LR: 0.696899352

     Predicted Consumption  Actual Consumption           Date/Time
768               1.768593             3.00030 2018-01-09 00:00:00
769               1.770715             0.51905 2018-01-09 00:15:00
770               1.772837             2.25380 2018-01-09 00:30:00
771               1.774959             0.52095 2018-01-09 00:45:00
772               1.764811             2.44410 2018-01-09 01:00:00
773               1.766933             0.58418 2018-01-09 01:15:00
774               1.769055             2.36910 2018-01-09 01:30:00
775               1.771177             0.73657 2018-01-09 01:45:00
776               1.761030             2.21010 2018-01-09 02:00:00
777               1.763152             0.79811 2018-01-09 02:15:00
778               1.765274             2.08010 2018-01-09 02:30:00
779               1.767396             1.10450 2018-01-09 02:45:00
780               1.757248             1.95730 2018-01-09 03:00:00
781               1.759370             1.31100 2018-01-09 03:15:00
782               1.761492             1.58470 2018-01-09 03:30:00
783               1.763614             1.72010 2018-01-09 03:45:00
784               1.753466             1.30140 2018-01-09 04:00:00
785               1.755588             1.86690 2018-01-09 04:15:00
786               1.757711             0.91449 2018-01-09 04:30:00
787               1.759833             2.30640 2018-01-09 04:45:00
788               1.749685             0.52108 2018-01-09 05:00:00
789               1.751807             2.31380 2018-01-09 05:15:00
790               1.753929             0.60533 2018-01-09 05:30:00
791               1.756051             2.44560 2018-01-09 05:45:00
792               1.745903             0.52210 2018-01-09 06:00:00
793               1.748025             2.26860 2018-01-09 06:15:00
794               1.750147             0.51263 2018-01-09 06:30:00
795               1.752269             2.33270 2018-01-09 06:45:00
796               1.742122             0.66486 2018-01-09 07:00:00
797               1.744244             2.32440 2018-01-09 07:15:00
..                     ...                 ...                 ...
834               1.682761             0.51335 2018-01-09 16:30:00
835               1.684883             2.01560 2018-01-09 16:45:00
836               1.674735             0.54895 2018-01-09 17:00:00
837               1.676857             2.23190 2018-01-09 17:15:00
838               1.678979             0.58072 2018-01-09 17:30:00
839               1.681101             1.89980 2018-01-09 17:45:00
840               1.670954             0.69652 2018-01-09 18:00:00
841               1.673076             1.76490 2018-01-09 18:15:00
842               1.675198             0.81091 2018-01-09 18:30:00
843               1.677320             1.78600 2018-01-09 18:45:00
844               1.667172             1.15160 2018-01-09 19:00:00
845               1.669294             1.12270 2018-01-09 19:15:00
846               1.671416             1.49230 2018-01-09 19:30:00
847               1.673538             3.66520 2018-01-09 19:45:00
848               1.692961             1.67630 2018-01-09 20:00:00
849               1.695084             0.54179 2018-01-09 20:15:00
850               1.697206             2.28360 2018-01-09 20:30:00
851               1.699328             0.59335 2018-01-09 20:45:00
852               1.689180             1.99090 2018-01-09 21:00:00
853               1.691302             0.51938 2018-01-09 21:15:00
854               1.693424             2.11580 2018-01-09 21:30:00
855               1.695546             0.51520 2018-01-09 21:45:00
856               1.685398             3.87010 2018-01-09 22:00:00
857               1.687520             0.78364 2018-01-09 22:15:00
858               1.689642             1.43280 2018-01-09 22:30:00
859               1.691764             1.05130 2018-01-09 22:45:00
860               1.681617             1.23750 2018-01-09 23:00:00
861               1.683739             1.31040 2018-01-09 23:15:00
862               1.685861             0.85352 2018-01-09 23:30:00
863               1.687983             1.85700 2018-01-09 23:45:00

[96 rows x 3 columns]